extends ../layout

block content
  h1 Thêm sản phẩm mới
  form(method='POST', action='/product/create', enctype='multipart/form-data')
    .mb-3
    label.form-label Tile
    input#exampleFormControlInput1.form-control(type='text' name='title')
    .mb-3
    label.form-label Price
    input#exampleFormControlInput1.form-control(type='number'  name='price')
    .mb-3
    label.form-label Image
    input#exampleFormControlInput1.form-control(type='file' name='image')
    .mb-3
    button(type='submit').btn.btn-frimary Create
    